.head {
    font-size: 40px;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

iframe {
    border: 0;
}

figure {
    margin: 0;
}

figcaption {
    margin-left: 15px;
    margin-right: 15px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.vine {
    margin-right: auto;
    padding-bottom: 10px;
}

.vine:nth-child(2n) {
    text-align: right;
    margin-left: auto;
}

@media only screen and (max-width: 720px) {
    .vine {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    video {
        width: 100%;
        height: auto;
    }
}
