main .content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  background: var(--color-bg2-a);
  border: 1px solid var(--color-p-a);
  border-radius: 4px;
  padding: 1rem;
}

main .paperlike {
  border-radius: 4px;
}

main .main {
  flex: 1 1 60%;
}

main .main .paperlike {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .main img {
  padding: 0;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 768px;
  border-radius: 4px;
  display: block;
}

main .comments {
  margin-top: 1rem;
  padding: 0.5rem;
}

main .meta {
  flex: 0 1 40%;
}

main .posted {
  display: flex;
  min-
}

main .posted-text {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

main .posted-text p {
  margin: 0;
}

main .profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  overflow: hidden;
  margin-right: 8px;
}

main h1 {
  word-break: break-all;
}

main .like {
  display: flex;
  align-items: center;
}

main .like>button {
  border-radius: 4px;
  line-height: 0;
  box-sizing: content-box;
  display: block;
  background: transparent;
  border: none;
  color: var(--color-p-a);
  margin-left: -0.5rem;
}

main .heart {
  height: 24px;
  width: 24px;
}

main .heart.beat {
  color: var(--color-secondary);
}

@media (min-width: 960px) {
  main .content {
    flex-direction: row;
    background: none;
    border: none;
    padding: 0;
    align-items: flex-start;
  }

  main .paperlike {
    background: var(--color-bg2-a);
    border: 1px solid var(--color-p-a);
  }

  main .meta {
    padding: 1rem;
    position: sticky;
    top: 56px
  }
}