main table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
}

main thead {
  border-bottom: solid 1px var(--color-p-a);
  background-color: var(--color-primary);
  font-weight: bold;
}

main tbody > tr {
  background-color: var(--color-bg);
}

main tbody > tr:nth-child(2n+1) {
  background-color: var(--color-bg2);
}

main tfoot {
  background-color: var(--color-bg);
}

main td {
  padding: 5px 10px;
  border-right: solid 1px var(--color-p-a); 
}

main th {
  padding: 5px 10px;
  width: 50%;
  text-align: left;
}
