main table {
  border-collapse: collapse;
  border-radius: 4px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: 896px;
}

main thead {
  border-bottom: 2px solid var(--color-p-a);
  background: var(--color-primary);
  font-weight: bold;
}

main tbody>tr {
  background-color: var(--color-bg);
}

main tbody>tr:nth-child(2n+1) {
  background-color: var(--color-bg2);
}

main tfoot {
  background-color: var(--color-bg);
}

main td {
  padding: 8px 10px;
}

table td+td {
  border-left: 2px solid var(--color-p-a);
}

main th {
  padding: 10px 10px;
  text-align: left;
}