.toolbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 8;
  padding: 8px 0;
  margin-bottom: 1rem;
  transition: top 0.2s;
  display: flex;
  flex: 2 1 300px;
  gap: 1rem;
}

.searchbar {
  background: var(--color-bg2);
  border: 1px solid var(--color-border);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex: inherit;
}

.searchbar .i-search {
  height: 24px;
  color: var(--color-primary);
}

.searchbar input {
  width: 100%;
}

.searchbar input {
  outline: 0;
  border: 0;
  color: var(--color-p);
  font-size: 1.25rem;
  background: transparent;
  width: 100%;
  padding: 4px;
}

.searchbar input::placeholder {
  color: var(--color-p-a);
}

.sortbar {
  display: flex;
  flex: 0 0 auto;
  gap: 0.5rem;
}

.sortbar label {
  display: flex;
  align-items: center;
}

.sortbar label > .box {
  width: 24px;
}

.sortbar label.desc > .box.asc {
  display: none;
}

.sortbar label.asc > .box.desc {
  display: none;
}

.sortbar input[type="checkbox"] {
  display: none;
}
